<div class="schedule-wrapper">
  <div class="row mb-4">
    <div class="col-4" *ngFor="let date of calenderDates">
      <app-calender [date]="date" (selectedDate)="onCalendarDateClick($event)"></app-calender>
    </div>

  </div>
  <div class="grey-card">
    <div class="row mb-4">
      <div class="col-2">
        <span class="imp">Date</span>
      </div>
      <div class="col-10 display-flex">
        <div>{{ this.scheduleDate | date : 'd MMMM' }}</div>
        <div>
          <span class="mr-2">Copy Schedule to</span>
          <p-dropdown [options]="cities" [(ngModel)]="selectedCopyScheduleTo"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-2">
        <span class="imp">Type</span>
      </div>
      <div class="col-10">
        <div class="card schedule-nav-wrapper">
          <ul class="nav schedule-nav-bar">
            <li class="nav-item" *ngFor="let item of darshanTabs" [class.active]="item === selectedPoojaType" (click)="onPoojaTypeSelect(item)">
              <a class="nav-link">
                {{item.header}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="selectedPoojaType.content.services">
        <div *ngFor="let i of selectedPoojaType.content.services" class="mb-4">
          <div class="mb-2">
            <span class="imp">{{i.serviceName}}</span>
          </div>
          <p-fieldset legend="">
            <div class="row">
              <div class="col mb-2" *ngFor="let slot of i.timeSlots.slots">
                <div class="time-slot-block">  
                  <div class="slot-block-1">
                    {{slot.time}} - {{calculateToTime(slot.time)}}
                  </div>
                  <div class="slot-block-2" [class.font-red]="true">
                    <span *ngIf="!edit">{{slot.tickets}}</span>
                    <input *ngIf="edit" type="number" class="form-control" [(ngModel)]="slot.tickets" value="{{slot.tickets}}" data-id="{{slot.time}}"
                      (change)="onTicketCountChange($event,i.serviceId,slot.timeSlotId)" />
                  </div>
                </div>
              </div>
            </div>
          </p-fieldset>
        </div>
      </div>
    </div>
  </div>
</div>