<div class="schedule-wrapper">
  <div class="row mb-4">
    <div class="col-4" *ngFor="let date of calenderDates">
      <app-calender [date]="date" (selectedDate)="onCalendarDateClick($event)"></app-calender>
    </div>

  </div>
  <div class="grey-card">
    <div class="row mb-4">
      <div class="col-2">
        <span class="imp">Date</span>
      </div>
      <div class="col-10 display-flex">
        <div>{{ this.scheduleDate | date : 'd MMMM' }}</div>
        <div>
          <span class="mr-2">Copy Schedule to</span>
          <p-dropdown [options]="cities" [(ngModel)]="selectedCopyScheduleTo"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-2">
        <span class="imp">Type</span>
      </div>
      <div class="col-10">
        <div class="card schedule-nav-wrapper">
          <ul class="nav schedule-nav-bar">
            <li class="nav-item" *ngFor="let item of darshanTabs" [class.active]="item === selectedPoojaType" (click)="onPoojaTypeSelect(item)">
              <a class="nav-link">
                {{item.header}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div *ngFor="let i of selectedPoojaType.content">
        <div class="mb-2">
          <span class="imp">{{i.serviceName}}</span>
        </div>
        <div *ngFor="let tS of i.timeSlots">
          <p-fieldset legend="{{tS.timeOfDay}}">
            <div class="row mb-2" *ngFor="let slot of tS.slots">
              <div class="col-2" *ngFor="let s of slot">
                <div class="slot-block-1">
                  {{s.from}}-{{s.to}}
                </div>
                <div class="slot-block-2" [class.font-red]="true">
                  <span *ngIf="!edit">{{s.tickets}}</span>
                  <input *ngIf="edit" type="number" class="form-control" [(ngModel)]="s.tickets" value="{{s.tickets}}" data-id="{{s.from}}" (change)="onTicketCountChange($event,i)" />
                </div>
              </div>
            </div>
          </p-fieldset>
        </div>
      </div>
    </div>
  </div>
</div>