.border-ash{
    border-bottom : 1px solid #ADADAD;
}
.btn-logout{
    color:#D51D33 !important;
    font-size:13px;
    font-weight: 500;
}

@media (min-width: 576px){
.navbar-expand-sm {
    justify-content: space-between;
}
}