<div>
  <div class="ng-scope">
    <div>
      <div align="center" class="modal-dialog modal-login">
        <div class="modal-content">
          <div class="modal-header">
            <div class="avatar"></div>
            <div style="margin-top: 35px;">Shri Kashi Viswanath Mandir Trust</div>
            <hr style="margin-top: 15px;">
            <h4 class="modal-title">Forgot Password</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <input type="email" [(ngModel)]="email" class="form-control" name="password" placeholder="Enter Email Id" required>
              </div>
              <div class="form-group">
                <button style="float: right;" (click)="onForgotPassword()" class="btn btn-warning">Submit</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <a routerLink="/login">Back To Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>