<div class="emp-wrapper">
  <p-toast></p-toast>
  <div class="row mb-2">
    <div class="col-6">
      <p>Total {{employeeCount}} Employee/s</p>
    </div>
    <div class="col-6">
      <div class="form-row">
        <div class="col-7">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="fa fa-search input-group-text"></span>
            </div>
            <input placeholder="Search by name,id,role,mobile" class="form-control" (input)="dt.filterGlobal($event.target.value, 'contains')"
            />
          </div>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-sm btn-emp" (click)="showSendSMSDialog()">Send SMS</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-sm btn-emp" (click)="showDialogAdd()">Add Employee</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p-table #dt [value]="employees" [(selection)]="selectedEmployees" [paginator]="true" [rows]="8" [columns]="cols">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3em">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="width: 5em"></th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
          <th>PASSWORD</th>
          <th style="width: 5em"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-emp>
        <tr [pSelectableRow]="emp">
          <td>
            <p-tableCheckbox [value]="emp"></p-tableCheckbox>
          </td>
          <td>
            <img class="profile-image" src="{{emp.imageUrl}}" />
          </td>
          <td>{{emp.fname}} {{emp.lname}}</td>
          <td>Counter Staff</td>
          <td>{{emp.employeeId}}</td>
          <td>{{emp.phone}}</td>
          <td>{{emp.gender === 0 ? "M" : emp.gender === 1 ? "F" : ""}}</td>
          <td class="crud-cols">
            <div class="row no-gutters">
              <div class="col-2 no-password">
                <i *ngIf="emp.changePassword" class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
              </div>
              <div class="col-6" (click)="showActivatePasswordDialog(emp)">
                <i class="fa fa-key fa-lg" aria-hidden="true"></i>
              </div>
            </div>
          </td>
          <td class="crud-cols">
            <div (click)="showDialogEdit(emp)">
              <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
            </div>

          </td>
        </tr>
      </ng-template>
    </p-table>
    <!-- Add Edit Template  -->
    <p-dialog [(visible)]="display" [width]="800">
      <p-header>
        <span>{{addEditEmployeeHeader}}</span>
      </p-header>
      <form [formGroup]="registerForm" (ngSubmit)="addEmployee(registerForm.value)" class="form-inline">
        <div class="form-row add-emp-wrapper">
          <div clas="col-6">
            <div>
              <h6>Personal Details</h6>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="photo">Photo</label>
              </div>
              <div class="col-8">
                <p-fileUpload mode="basic" chooseLabel="Browse" accept="image/*" maxFileSize="1000000" (onUpload)="onPhotoUpload($event)"></p-fileUpload>
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="fname">First Name</label>
              </div>
              <div class="col-6">
                <input type="text" formControlName="firstName" class="form-control" id="fname" name="fname">
                <div *ngIf="!registerForm.controls['firstName'].valid && registerForm.controls['firstName'].dirty" class="error">
                  <div> First Name is required</div>
                </div>
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="lname">Last Name</label>
              </div>
              <div class="col-6">
                <input type="text" formControlName="lastName" class="form-control" id="lname" name="lname">
                <div *ngIf="!registerForm.controls['lastName'].valid && registerForm.controls['lastName'].dirty" class="error">
                  <div> Last Name is required</div>
                </div>
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="gender">Gender</label>
              </div>
              <div class="col-8">
                <p-dropdown [options]="genderGrp" formControlName="gender" name="gender" [autoWidth]="false" styleClass="full-width"></p-dropdown>
                <div *ngIf="!registerForm.controls['gender'].valid && registerForm.controls['gender'].dirty" class="error">
                  <div> Gender is required</div>
                </div>
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="dob">DOB</label>
              </div>
              <div class="col-8">
                <p-calendar formControlName="dob" dateFormat="dd/mm/yy" name="dob" styleClass="display-grid"></p-calendar>

              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="addone">Address Line1</label>
              </div>
              <div class="col-8">
                <input type="text" formControlName="addone" class="form-control" id="addone" name="addone ">
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="addtwo">Address Line2</label>
              </div>
              <div class="col-8">
                <input type="text" formControlName="addtwo" class="form-control" id="addtwo" name="addtwo">
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="addone">City</label>
              </div>
              <div class="col-8 city-drp">
                <!-- <p-dropdown [options]="cities" formControlName="city" name="city" [autoWidth]="false" styleClass="full-width"></p-dropdown> -->
                <p-autoComplete formControlName="city" [suggestions]="cities" (completeMethod)="filterCity($event)" field="name" [minLength]="1"
                  [dropdown]="true" (onSelect)="citySelectHndlr(value)"></p-autoComplete>

              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="state">State</label>
              </div>
              <div class="col-8 city-drp">
                <!-- <p-dropdown [options]="states" formControlName="state" name="state" [autoWidth]="false" styleClass="full-width"></p-dropdown> -->
                <p-autoComplete formControlName="state" [suggestions]="states" (completeMethod)="filterState($event)" field="state" [minLength]="1"
                  [dropdown]="true" disabled="true"></p-autoComplete>
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="pincode">Pin code</label>
              </div>
              <div class="col-8">
                <input type="text" formControlName="pincode" class="form-control" id="pincode" name="pincode">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h6>Employee Details</h6>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="education">Education</label>
              </div>
              <div class="col-8">
                <input type="text" formControlName="education" class="form-control" id="education" name="education">
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="role">Designation/Role</label>
              </div>
              <div class="col-8">
                <input type="text" formControlName="role" class="form-control" id="role" name="role">
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="department">Department</label>
              </div>
              <div class="col-8">
                <input type="text" formControlName="department" class="form-control" id="department" name="department">
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="workloc">Work Location</label>
              </div>
              <div class="col-8">
                <input type="text" formControlName="workloc" class="form-control" id="workloc" name="workloc">
              </div>
            </div>
            <div class="mb-2">
              <h6>Contact & ID Details</h6>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="email">Email ID</label>
              </div>
              <div class="col-8">
                <input type="email" formControlName="email" class="form-control" id="email" name="email">
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="mobile">Mobile</label>
              </div>
              <div class="col-8">
                <input type="text" formControlName="mobile" class="form-control" id="mobile" name="mobile">
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="idproof">ID Proof</label>
              </div>
              <div class="col-8">
                <input type="text" formControlName="idproof" class="form-control" id="idproof" name="idproof">
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-4">
                <label for="addressproff">Address Proof</label>
              </div>
              <div class="col-8">
                <input type="text" formControlName="addressproof" class="form-control" id="addressproof" name="addressproof">
              </div>
            </div>
          </div>
        </div>
        <div class="footer-wrapper">
          <div class="">
            <button type="submit" class="btn btn-sm btn-emp">Add</button>
          </div>
          <div class="cancle-emp-btn">
            <a (click)="closeEmpDialog()">Cancel</a>
          </div>
        </div>
      </form>
    </p-dialog>
    <!-- Send Temp Password  -->
    <p-dialog [(visible)]="activatePasswordDisplay" [width]="500">
      <p-header>
        Send temporary password to
      </p-header>
      <form [formGroup]="forgotPaaswordForm" (ngSubmit)="sendTemporaryPassword(forgotPaaswordForm.value)">
        <div class="form-row mt-4 mb-4">
          <div class="col-5">
            <div class="custom-control custom-radio custom-control-inline">
              <p-radioButton value="phone" formControlName="emailOrPhone" name="emailOrPhone"></p-radioButton>
              <label class="font-weight-bold" for="customRadioInline1">Mobile Number</label>
            </div>
            <div class="ml-4">
              <span>{{employee.phone}}</span>
            </div>
          </div>
          <div class="col-7">
            <div class="custom-control custom-radio custom-control-inline">
                <p-radioButton value="email" formControlName="emailOrPhone" name="emailOrPhone"></p-radioButton>
              <label class="font-weight-bold" for="customRadioInline2">Email Address</label>
            </div>
            <div class="ml-4">
              <span>{{employee.email}}</span>
            </div>
          </div>
        </div>

        <div class="footer-wrapper">
          <div class="">
            <button type="submit" class="btn btn-sm btn-emp">Send</button>
          </div>
          <div class=" cancle-emp-btn">
            <a (click)="closeActivatePassDialog()">Cancel</a>
          </div>
        </div>
      </form>
    </p-dialog>
    <!-- Send SMS  -->
    <div class="send-sms-group-wrapper">
      <p-dialog [(visible)]="sendSMSDisplay" [width]="600">
        <p-header>
          Send Group Announcement
        </p-header>
        <div class="row no-gutters">
          <div class="col-4 recipient-wrapper">
            <div class="recipient-heading">
              <span>Recipient</span>
            </div>
            <div class="recipient-content">
              <p-multiSelect [options]="employeeGroup" [(ngModel)]="selectedEmpGroupToSendSMS"></p-multiSelect>
            </div>
          </div>
          <div class="col-8 sms-template-wrapper">
            <div class="sms-template">
              <label class="mr-4">SMS Template</label>
              <p-dropdown [options]="smsTemplates" [(ngModel)]="selectedSmsTemplate"></p-dropdown>
            </div>
            <div class="sms-write-message">
              <label class="mb-4">Write your message</label>
              <div>
                <textarea [rows]="10" [cols]="40" pInputTextarea> </textarea>
              </div>
            </div>

          </div>
        </div>
        <p-footer>
          <div class="row no-gutters">
            <div class="offset-4 col-2">
              <button type="button" class="btn btn-sm btn-emp" (click)="sendGroupSMS()">Send SMS</button>
            </div>
            <div class="col-2 cancle-emp-btn">
              <a (click)="closeSendSMSGropuDailog()">Cancel</a>
            </div>
          </div>
        </p-footer>
      </p-dialog>
    </div>
  </div>
</div>