.calender-content td{
        font-size: 14px;
        font-weight: 400;
        padding: 0.5em;
        text-align: center;
        color:white;
        cursor:pointer;
        border:1px solid;
}
.bg-green{
   background-color: #7FA855;
   border:1px solid #7FA855;
}
.bg-red{
   background-color: #D0021B;
   border:1px solid #D0021B;
}

.bg-blue{
    background-color: #4A90E2;
}

.block{
    width:100%;
}

.calendar-heading td{
    font-size: 11px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
}

.calendar-wrapper{
    height:100%;
}

.calendar-month{
    text-align: center;
    font-weight: 600;
    font-size:16px;
    padding:0.7em;
    text-transform: uppercase;
}